/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/*
body {
    -webkit-touch-callout: none;         
    -webkit-text-size-adjust: none;      
     -webkit-user-select: none;     
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}*/

/* Portrait layout (default) */
.app {
    background:url(../img/PlayStore/icono_03.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:50px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: white;
}

h2 {
    color: red;
    font-size: 30px;
    border-color: black;
}

p {
    font-size: 25px;
    color:black;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.fondoPrincipal{

    background: url("../img/inicio.png");
    
}

.fondoMenu{

    background: url("../img/seleccion.png");
}

.fondoTrivia1{

    background: url("../img/Trivia 1/trivia-1.png");
}

.fondoTrivia2{

    background: url("../img/Trivia 2/trivia-1.png");
}

.fondoTrivia3{

    background: url("../img/Trivia 3/trivia-1.png");
}

.fondoTrivia4{

    background: url("../img/Trivia 4/trivia-1.png");
}

.fondoTrivia5{

    background: url("../img/Trivia 5/trivia-1.png");
}

.fondoResultado1{

    background: url("../img/Resultado 1/Resultado-1.png");
}

.fondoResultado2{

    background: url("../img/Resultado 2/Resultado-1.png");
}

.fondoResultado3{

    background: url("../img/Resultado 3/Resultado-1.png");
}

.fondoResultado4{

    background: url("../img/Resultado 4/Resultado-1.png");
}

.fondoResultado5{

    background: url("../img/Resultado 5/Resultado-1.png");
}

.fondoRecuerda{

    background: url("../img/Recuerda.png");
}

.fondo{

    background-repeat: no-repeat;
    background-size: 360px 616px;
}

.imagenResultados{

    opacity: 0.8;
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
    height: 150px;
    width: 150px;
    border-radius: 120px;
}

.back{

    position: relative;
    width: 100vw;
    text-align: center; 
}

.ocultar{
    
    display: none;
}

.esconder{
    visibility: hidden;
}

.mostrar{

    display: block;
}

.centroMenu{

    position: relative;
    top: 40vh;
    width: 100vw;
    text-align: center;
}

.centroTrivia{

    position: relative;
    top: 30vh;
    width: 100vw;
    text-align: center;
}

.centrado{

    position: relative;
    top: 50vh;
    width: 100vw;
    text-align: center;   
}

.imagenRecuerda1{

    position: relative;
    top: 10vh;
    width: 50vw;
    text-align: center; 
}

.imagenRecuerda2{

    position: relative;
    top: 25vh;
    width: 65vw;
    text-align: center; 
}

.imagenRecuerda3{

    position: relative;
    top: 10vh;
    width: 150vw;
    text-align: center; 
}

.opcionRectangular{

    width: 230px;
    height: 60px;
    border-radius: 15px;
    opacity: 0.5;
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
}

.opcionRectangularTrivia{

    width: 230px;
    height: 40px;
    border-radius: 15px;
    opacity: 0.5;
    -webkit-filter: contrast(200%);
    filter: contrast(200%);
}

.margin{

    margin-bottom: 30px; 
}

.marginTrivia{

    margin-top: 150px; 
}

.info-modal{
    position: absolute;
    left: 40px;
    z-index: 2000;
    margin: 0;  
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    float: left;
}

.exitoso {
    margin: 20px;
    z-index: 2000;
    position: absolute;
    align-content: center;
    background-color:transparent;
    width: 300px;
    height: 300px;
    /* background-image: url("../img/checked.png"); */
}

.center {

    margin: 1px auto;
}

.margen {

    margin-top: 110px;
}